// Params
$container: 1000px;
$normal-size: 16px;
$h1-size: 24px;
$h2-size: 20px;
$h3-size: 18px;
$footer-height: 120px;
$footer-mobile-height: 95px;

/* CeraStencilPRO start */
@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Light.eot');
  src: local('☞Cera Stencil PRO Light'), local('CeraStencilPRO-Light'),
      url('../fonts/CeraStencilPRO-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Light.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Light.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Regular.eot');
  src: local('☞Cera Stencil PRO'), local('CeraStencilPRO-Regular'),
      url('../fonts/CeraStencilPRO-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Regular.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Regular.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Thin.eot');
  src: local('☞Cera Stencil PRO Thin'), local('CeraStencilPRO-Thin'),
      url('../fonts/CeraStencilPRO-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Thin.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Thin.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Black.eot');
  src: local('☞Cera Stencil PRO Black'), local('CeraStencilPRO-Black'),
      url('../fonts/CeraStencilPRO-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Black.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Black.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Bold.eot');
  src: local('☞Cera Stencil PRO Bold'), local('CeraStencilPRO-Bold'),
      url('../fonts/CeraStencilPRO-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Bold.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Bold.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CeraStencilPRO';
  src:url('../fonts/CeraStencilPRO-Medium.eot');
  src: local('☞Cera Stencil PRO Medium'), local('CeraStencilPRO-Medium'),
      url('../fonts/CeraStencilPRO-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CeraStencilPRO-Medium.woff2') format('woff2'),
      url('../fonts/CeraStencilPRO-Medium.woff') format('woff'),
      url('../fonts/CeraStencilPRO-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* CeraStencilPRO end */

.code{
  color: rgb(3, 3, 134);
}
.attr{
  color: rgb(255, 1, 1);
}
.variable{
  color: rgb(37, 149, 201);
}
.comment{
  color: rgb(0, 83, 0);
}
.text-link{
  text-decoration: none;
  color: #e9967a;
}

.text-link:hover{
  color: #ff0101;
}

.text-link:active{
  color: #e9967a;
}

.button-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web-site{
  width: $container;
  margin: 0 auto;
  font-family: "CeraStencilPRO", "Arial", sans-serif;
  font-weight: 300;
  font-size: $normal-size;
}

.site-content{
  margin-bottom: $footer-height;
}

.site-content-no-margin{
  margin-bottom: 0 !important;
  transition: 1s;
}

.site-content-no-margin{
  margin-bottom: 0 !important;
  transition: 1s;
}

.site-content-yes-margin{
  margin-bottom: $footer-height;
  transition: 1s;
}

.content-header{
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: $h1-size;
}

.content-text{
  margin: 10px 0;
}

.content-list-item{
  list-style: lower-latin;
}

.content-h2{
  margin: 10px 0;
  font-weight: bold;
  font-size: $h2-size;
}

.content-h3{
  font-weight: bold;
  font-size: $h3-size;
}

.content-item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-box{
  margin: 5px 10px 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-box-quantity-text{
  margin: 10px 0 0 0;
}

.item-box-quantity{
  margin: 0 0 10px 0;
}

.section-tasks{
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(164,175,221,.2);
  box-sizing: border-box;
}

.form-flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fifth-task-lesson2-form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fourth-task-lesson2-form{
  display: flex;
  justify-content: center;
}

.content-form-number{
  width: 150px;
  padding: 6px;
  box-sizing: border-box;
  font-family: "CeraStencilPRO", "Arial", sans-serif;
  font-weight: 500;
  font-size: $normal-size;
  outline: none;
  border: 1px dashed black;
  border-radius: 10px;
}

.content-form-number:focus{
  background-color: #fffacd;
}

.content-form-select{
  min-width: 100px;
  padding: 3px 6px;
  box-sizing: border-box;
  font-family: "CeraStencilPRO", "Arial", sans-serif;
  font-weight: 500;
  font-size: $normal-size;
  outline: none;
  border: 1px dashed black;
  border-radius: 10px;
}

.content-form-button,
.content-section-button{
  margin: 5px 10px;
  padding: 6px;
  box-sizing: border-box;
  font-family: "CeraStencilPRO", "Arial", sans-serif;
  font-weight: 500;
  font-size: $normal-size;
  outline: 0;
  background-color: #fff;
  border: 1px dashed black;
  border-radius: 10px;
  cursor: pointer;
}

.content-form-button:hover,
.content-section-button:hover{
  background-color: #fffacd;
}

.content-form-button:active,
.content-section-button:active{
  background-color: #fff;
}

.content-form-div{
  display: flex;
  justify-content: start;
  align-items: center;
}

.long-button{
  min-width: 170px;
}

.content-section-result{
  flex-grow: 1;
  margin: 0 0 0 20px;
  padding: 5px 10px;
  height: 150px;
  border-radius: 10px;
  background: #fffacd;
  overflow-y: auto;
}

.disable-button:hover{
  background-color: #fff;
}

.content-form-answer{
  font-family: monospace, "Arial", sans-serif;
}

.form-answer-header{
  text-align: left;
}

.second-task-lesson4-link{
  display: block;
  text-decoration: none;
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin: 5px auto;
  padding: 6px;
  box-sizing: border-box;
  font-family: "CeraStencilPRO", "Arial", sans-serif;
  font-weight: 500;
  font-size: $normal-size;
  outline: 0;
  background-color: #fff;
  border: 1px dashed black;
  border-radius: 10px;
  cursor: pointer;
}

.second-task-lesson4-link:hover{
  background-color: #fffacd;
}

.second-task-lesson4-link:active{
  background-color: #fff;
}

.site-footer{
  position: fixed;
  display: flex;
  justify-content: start;
  bottom: 0;
  left: 0;
  background: #fff;
  height: $footer-height;
  width: 100%;
  border-top: 1px solid #a1a1a1;
  box-sizing: border-box;
}

.footer-closed{
  height: 0 !important;
  transition: 1s;
}

.footer-opened{
  height: $footer-height;
  transition: 1s;
}

.footer-menu{
  width: 100%;
  display: flex;
  max-width: $container;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: scroll;
}

.footer-menu-item{
  margin: 5px 10px 5px 0;
  text-decoration: none;
  color: black;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu-item:hover{
  color: #030386;

  .footer-menu-item-svg{
    fill: #030386;
  }
}

.footer-menu-item:active{
  color: black;
  
  .footer-menu-item-svg{
    fill: black;
  }
}

.site-footer-open{
  position: absolute;
  top: -40px;
  right: 0;
  min-width: 50px;
  min-height: 50px;
  background: transparent;
  border: none;
  outline: none;
  background-image: url(../images/box_arrow_in_down_icon_160379.svg);
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}

.site-footer-close{
  position: absolute;
  top: -36px;
  right: 0;
  min-width: 50px;
  min-height: 50px;
  background: transparent;
  border: none;
  outline: none;
  background-image: url(../images/box_arrow_in_up_icon_160374.svg);
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}

@media(max-width: 999px){
  .web-site{
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .footer-menu{
    max-width: 100%;
  }
}

@media(max-width: 765px){

  .site-content{
    margin-bottom: $footer-mobile-height;
  }

  .content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-form-button{
    margin: 10px 0 0 0;
  }

  .content-section-button{
    margin: 0 auto 10px auto;
  }

  .content-form-div{
    flex-wrap: wrap;
  }

  .content-section-result{
    width: 100%;
    margin: 0 auto;
  }

  .site-footer{
    height: $footer-mobile-height;
  }

  .footer-menu-item-svg{
    width: 60px;
    height: 60px;
  }
}